<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Department</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Create Department</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Create Department
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="department.name" placeholder="Name" />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create Department</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      department: {
        name: ""
      }
    };
  },
  methods: {
    saveForm() {
      var app = this;
      var newDepartment = app.department;
      axios
        .post("/api/v1/departments", newDepartment)
        .then(function(resp) {
          app.$router.push({ path: "/" });
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your record");
        });
    }
  }
};
</script>
