<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Users</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Create Users</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update User
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="role.name" placeholder="Username" />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Display Name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="role.display_name"
                placeholder="Last Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Description</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="role.description"
                placeholder="First Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">Permissions</label>
            <div class="col-md-10 col-form-label">
              <div class="form-check checkbox" v-for="perm in permissions" :key="perm.id">
                <input
                  type="checkbox"
                  :id="perm.name"
                  :value="permission.id"
                  v-model="role[permissionChecked]"
                />
                <label class="form-check-label" for="check1">{{permission.name}}</label>
              </div>
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create Role</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      permissions: [],
      role: {
        name: "",
        display_name: "",
        description: "",
        permissionChecked: []
      }
    };
  },
  mounted() {
    var app = this;
    axios
      .get("/api/v1/permissions")
      .then(function(resp) {
        app.permissions = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  methods: {
    saveForm() {
      var app = this;
      var newRole = app.user;
      axios
        .post("/api/v1/roles", newRole)
        .then(function(resp) {
          app.$router.push({ path: "/" });
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your record");
        });
    }
  }
};
</script>
