<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href>Roles</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Role Listing
        <router-link :to="{ name: 'createRole' }" class="float-right">+ Create New</router-link>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm mt-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Display Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="role in roles" :key="role.id">
              <td>{{ role.name }}</td>
              <td>{{ role.display_name }}</td>
              <td>{{ role.description }}</td>
              <td>
                <div class="btn-group btn-group-sm">
                  <router-link
                    :to="{
                                                name: 'editRole',
                                                params: { id: role.id }
                                            }"
                  >
                    <span class="badge badge-info">Edit</span>
                  </router-link>
                  <a
                    href
                    v-on:click="
                                                deleteEntry(role.id, index)
                                            "
                  >
                    <span class="badge badge-danger">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data: function() {
    return {
      roles: []
    };
  },
  mounted() {
    var app = this;
    axios
      .get("/api/v1/roles")
      .then(function(resp) {
        app.roles = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  methods: {
    deleteEntry(id, index) {
      if (confirm("Do you really want to delete it?")) {
        var app = this;
        axios
          .delete("/api/v1/roles/" + id)
          .then(function(resp) {
            app.roles.splice(index, 1);
          })
          .catch(function(resp) {
            alert("Could not delete record");
          });
      }
    }
  }
};
</script>
