
<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Roles</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit Role</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update Role
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="role.name" placeholder="Name" />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Display Name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="role.display_name"
                placeholder="Display Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Description</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="role.description"
                placeholder="Description"
              />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create Role</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    let app = this;
    let id = app.$route.params.id;
    app.roleId = id;
    axios
      .get("/api/v1/roles/" + id)
      .then(function(resp) {
        app.role = resp.data;
      })
      .catch(function() {
        alert("Could not load your role");
      });
  },
  data: function() {
    return {
      roleId: null,
      role: {
        name: "",
        display_name: "",
        description: ""
      }
    };
  },
  methods: {
    saveForm() {
      var app = this;
      var newRole = app.role;
      axios
        .put("/api/v1/roles/" + app.roleId, newRole)
        .then(function(resp) {
          app.$router.replace("/");
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your role");
        });
    }
  }
};
</script>
