
<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Country</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit Country</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update Permission
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Code</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="country.code" placeholder="Code" />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="country.name" placeholder="Name" />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create Country</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    let app = this;
    let id = app.$route.params.id;
    app.countryId = id;
    axios
      .get("/api/v1/countries/" + id)
      .then(function(resp) {
        app.country = resp.data;
      })
      .catch(function() {
        alert("Could not load your country");
      });
  },
  data: function() {
    return {
      countryId: null,
      country: {
        code: "",
        name: ""
      }
    };
  },
  methods: {
    saveForm() {
      var app = this;
      var newCountry = app.country;
      axios
        .put("/api/v1/countries/" + app.countryId, newCountry)
        .then(function(resp) {
          newCountry;
          app.$router.replace("/");
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your role");
        });
    }
  }
};
</script>
