
<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>States</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit States</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update States
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">State</label>
            <div class="col-md-10">
              <select class="form-control" id="state" name="State" v-model="city.state_id">
                <option
                  v-for="state in states"
                  :key="state.id"
                  v-bind:value="state.id"
                >{{state.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="city.name" placeholder="Name" />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Update State</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    let app = this;
    let id = app.$route.params.id;
    app.cityId = id;
    axios
      .get("/api/v1/cities/" + id)
      .then(function(resp) {
        app.city = resp.data;
      })
      .catch(function() {
        alert("Could not load your state");
      });
    axios
      .get("/api/v1/states")
      .then(function(resp) {
        app.states = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  data: function() {
    return {
      cityId: null,
      states: [],
      city: {
        state_id: "",
        name: ""
      }
    };
  },
  methods: {
    saveForm() {
      var app = this;
      var newCity = app.city;
      axios
        .put("/api/v1/cities/" + app.cityId, newCity)
        .then(function(resp) {
          newCity;
          app.$router.replace("/");
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your state");
        });
    }
  }
};
</script>
