<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Users</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Create Users</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update User
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Username</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="user.username"
                placeholder="Username"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Last name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="user.last_name"
                placeholder="Last Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">First name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="user.first_name"
                placeholder="First Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
              <input type="email" class="form-control" v-model="user.email" placeholder="Email" />
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-10">
              <input
                type="password"
                class="form-control"
                v-model="user.password"
                placeholder="Password"
              />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create User</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      user: {
        username: "",
        last_name: "",
        first_name: "",
        email: "",
        password: ""
      }
    };
  },
  methods: {
    saveForm() {
      var app = this;
      var newUser = app.user;
      axios
        .post("/api/v1/users", newUser)
        .then(function(resp) {
          app.$router.push({ path: "/" });
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your article");
        });
    }
  }
};
</script>
