<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a>Users</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> User Listing
        <router-link :to="{ name: 'createUser' }" class="float-right">+ Create New</router-link>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm mt-3">
          <thead>
            <tr>
              <th>Email</th>
              <th>UserName</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.first_name }}</td>
              <td>
                <div class="btn-group btn-group-sm">
                  <router-link
                    :to="{
                                                name: 'editUser',
                                                params: { id: user.id }
                                            }"
                  >
                    <span class="badge badge-info">Edit</span>
                  </router-link>
                  <a
                    v-on:click="
                                                deleteEntry(user.id, index)
                                            "
                  >
                    <span class="badge badge-danger">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data: function() {
    return {
      users: [],
      columns: [
        {
          label: "Name",
          field: "username",
          filterable: true
        },
        {
          label: "Age",
          field: "last_name",
          filterable: true
        },
        {
          label: "Actions",
          field: "actions",
          filterable: false
        }
      ],
      page: 1,
      per_page: 10
    };
  },
  mounted() {
    var app = this;
    axios
      .get("/api/v1/users")
      .then(function(resp) {
        app.users = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  methods: {
    deleteEntry(id, index) {
      if (confirm("Do you really want to delete it?")) {
        var app = this;
        axios
          .delete("/api/v1/users/" + id)
          .then(function(resp) {
            app.users.splice(index, 1);
          })
          .catch(function(resp) {
            alert("Could not delete record");
          });
      }
    }
  }
};
</script>
