<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Country</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Create Country</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update Permission
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="select1">Select</label>
            <div class="col-md-10">
              <select class="form-control" id="select1" name="select1" v-model="state.country_id">
                <option disabled selected>Please select</option>
                <option
                  v-for="country in countries"
                  :key="country.id"
                  v-bind:value="country.id"
                >{{country.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="state.name" placeholder="Name" />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Create Country</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      countries: [],
      state: {
        country_id: "",
        name: ""
      }
    };
  },
  mounted() {
    var app = this;
    axios
      .get("/api/v1/countries")
      .then(function(resp) {
        app.countries = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  methods: {
    saveForm() {
      var app = this;
      var newState = app.state;
      axios
        .post("/api/v1/states", newState)
        .then(function(resp) {
          app.$router.push({ path: "/" });
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your record");
        });
    }
  }
};
</script>
