
<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <router-link to="/" class>Employee</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        Update Employee
        <div class="card-header-actions">
          <router-link to="/" class="card-header-action">Back</router-link>
        </div>
        <!--card-header-actions-->
      </div>
      <!--card-header-->

      <div class="card-body">
        <form class="form-sample" v-on:submit.prevent="saveForm()">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Department</label>
            <div class="col-md-10">
              <select
                class="form-control"
                id="department"
                name="Department"
                v-model="employee.department_id"
              >
                <option
                  v-for="department in departments"
                  :key="department.id"
                  v-bind:value="department.id"
                >{{department.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Last Name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="employee.last_name"
                placeholder="Last Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">First Name</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="employee.first_name"
                placeholder="First Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Address</label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                v-model="employee.address"
                placeholder="Address"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Country</label>
            <div class="col-md-10">
              <select
                id="country"
                name="country"
                v-model="employee.country_id"
                class="form-control"
              >
                <option
                  v-for="country in countries"
                  :key="country.id"
                  v-bind:value="country.id"
                >{{country.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">States</label>
            <div class="col-md-10">
              <select
                class="form-control"
                id="states"
                name="states"
                :disabled="countries.length == 0"
                v-model="employee.state_id"
              >
                <option
                  v-for="state in states"
                  :key="state.id"
                  v-bind:value="state.id"
                >{{state.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">City</label>
            <div class="col-md-10">
              <select
                class="form-control"
                id="city"
                name="city"
                :disabled="states.length == 0"
                v-model="employee.city_id"
              >
                <option v-for="city in cities" :key="city.id" v-bind:value="city.id">{{city.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="date-input">Birthdate Date</label>
            <div class="col-md-10">
              <input
                class="form-control"
                id="date-input"
                type="date"
                name="birthdate"
                v-model="employee.birthdate"
                placeholder="Birthdate"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Zip</label>
            <div class="col-md-10">
              <input type="text" class="form-control" v-model="employee.zip" placeholder="Zip" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="date-input">Date Hired</label>
            <div class="col-md-10">
              <input
                class="form-control"
                id="date-input"
                type="date"
                name="date_hired"
                v-model="employee.date_hired"
                placeholder="Date Hired"
              />
            </div>
          </div>

          <button class="btn btn-sm btn-primary float-right" type="submit">Update Employee</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    let app = this;
    let id = app.$route.params.id;
    app.employeeId = id;

    axios
      .get("/api/v1/employees/" + id)
      .then(function(resp) {
        app.employee = resp.data;
      })
      .catch(function() {
        alert("Could not load your state");
      });
    axios
      .get("/api/v1/departments")
      .then(function(resp) {
        app.departments = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
    axios
      .get("/api/v1/countries")
      .then(function(resp) {
        app.countries = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  data: function() {
    return {
      employeeId: null,
      selectedCountry: "",
      selectedState: "",
      selectedCity: "",
      countries: [],
      states: [],
      cities: [],
      departments: [],
      employee: {
        last_name: "",
        first_name: "",
        address: "",
        department_id: "",
        country_id: "",
        state_id: "",
        city_id: "",
        birthdate: "",
        zip: "",
        date_hired: ""
      }
    };
  },

  watch: {
    "employee.country_id": function(val, oldVal) {
      this.getStates();
    },

    "employee.state_id": function(val, oldVal) {
      this.getCities();
    },
    "employee.city_id": function(val, oldVal) {
      this.getCity();
    }
  },
  methods: {
    saveForm() {
      var app = this;
      var newEmployee = app.employee;
      axios
        .put("/api/v1/employees/" + app.employeeId, newEmployee)
        .then(function(resp) {
          newEmployee;
          app.$router.replace("/");
        })
        .catch(function(resp) {
          console.log(resp);
          alert("Could not create your state");
        });
    },
    getStates() {
      var app = this;
      axios
        .get("/api/v1/countries/states/" + app.employee.country_id)
        .then(function(resp) {
          app.states = resp.data;
        })
        .catch(function(resp) {
          console.log(resp);
          alert("No Records");
        });
    },
    getCities() {
      var app = this;
      axios
        .get("/api/v1/states/cities/" + this.employee.state_id)
        .then(function(resp) {
          app.cities = resp.data;
        })
        .catch(function(resp) {
          console.log(resp);
          alert("No Records");
        });
    },
    getCity() {
      var app = this;
    }
  }
};
</script>
