<template>
  <div>
    <div class="page-header">
      <h3 class="page-title">Dashboard</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href>Dashboard</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href>Employees</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Employee Listing
        <router-link :to="{ name: 'createEmployee' }" class="float-right">+ Create New</router-link>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm mt-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Department</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Birthdate</th>
              <th>Date Hired</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="employee in employees" :key="employee.id">
              <td>{{ employee.first_name }} {{ employee.last_name }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.department }}</td>
              <td>{{ employee.city }}</td>
              <td>{{ employee.state }}</td>
              <td>{{ employee.country }}</td>
              <td>{{ employee.birthdate }}</td>
              <td>{{ employee.date_hired }}</td>
              <td>
                <div class="btn-group btn-group-sm">
                  <router-link
                    :to="{
                                                name: 'editEmployee',
                                                params: { id: employee.id }
                                            }"
                  >
                    <span class="badge badge-info">Edit</span>
                  </router-link>
                  <a
                    href
                    v-on:click="
                                                deleteEntry(employee.id, index)
                                            "
                  >
                    <span class="badge badge-danger">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data: function() {
    return {
      employees: []
    };
  },
  mounted() {
    var app = this;
    axios
      .get("/api/v1/employees")
      .then(function(resp) {
        app.employees = resp.data;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("No Records");
      });
  },
  methods: {
    deleteEntry(id, index) {
      if (confirm("Do you really want to delete it?")) {
        var app = this;
        axios
          .delete("/api/v1/employees/" + id)
          .then(function(resp) {
            app.employees.splice(index, 1);
          })
          .catch(function(resp) {
            alert("Could not delete record");
          });
      }
    }
  }
};
</script>
